body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: #8b6622;
}
a {
    color: black;
    font-weight: bold;
    

}
ul {
    width: 300px;
    margin: 60px auto;
}
li {
    margin-top: 30px;
}
#title {
    width: 300px;

    margin: 60px auto;
    color: white;
}
